<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Image to PDF Converter</title>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet" />
	<link rel="stylesheet" href="/style.css">
	<script src="/script.js" defer></script>
</head>

<body>
	<div class="container">
		<h1>Image to PDF Converter</h1>
		<form id="uploadForm">
			<div class="upload-btn-container">
				<input type="file" class="folder-input" id="folderInput" name="imageInput" accept="image/*" webkitdirectory multiple />
				<input type="file" class="file-input" id="imageInput" name="imageInput" accept="image/*" multiple />
				<label for="imageInput" class="file-input-label">Choose File</label>
				<div class="switch-checkbox">
					<div class="checkbox-container">
						<input type="checkbox" id="cached" name="cached" value="true" checked />
						<label for="cached">Cached</label>
					</div>
					<div class="checkbox-container">
						<input type="checkbox" id="folder" name="folder" value="false" />
						<label for="folder">Folder</label>
					</div>
				</div>
			</div>
			<p id="fileCount"></p>
			<button type="submit" id="uploadButton" disabled>Convert to PDF</button>
		</form>
		<div class="progress-container" id="progressContainer"></div>
		<div class="loader" id="loader"></div>
		<p class="total-time"></p>
		<div class="tabs-container">
			<div class="tab-buttons" id="tabButtons"></div>
		</div>
		<div id="pdf-results-container"></div>
	</div>

	<script>
		const PORT = "<%= servicePort %>";
	</script>
</body>

</html>